fastapi==0.116.1
uvicorn==0.35.0

SQLAlchemy==2.0.43
alembic==1.16.5

psycopg==3.2.13
psycopg-binary==3.2.13

pydantic==2.11.7
pydantic-settings==2.10.1
email_validator==2.2.0

python-dotenv==1.1.1

python-jose==3.5.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20

cryptography==50.0.0